#main {
  
}

html{
  background-color: rgb(241, 222, 222);
}

#github-container {
  display: flex;
}
h2{
  text-align: center;
}
form{
  margin: 5% auto;
  width: max-content;
}

ul {
  list-style: none;
}

#user-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#github-container > div{
  width: 50%;
}

.cards {
  display: flex;
  flex-direction: column;
  padding: 1em;
  width: 30%;
  height: max-content;


  box-shadow: 0.04em 0.04em 0.4em black;
  margin: 0.5em 0.5em;
  border-radius: 10px;
}
.cards img {
  width: 100%;

}
.cards a {
  text-decoration: none;
  overflow-wrap: break-word;
  text-align: center;
}
.cards h4{
  text-align: center;
  overflow-wrap: break-word;
}

.repo-cards{
  padding: 1em;
  box-shadow: 0.04em 0.04em 0.4em black;
  margin-top: 1em;
  border-radius: 5px;
}

.repo-cards a{
  text-decoration: none;
  font-weight: bolder;

}